/* HEX */
$navbar-white: #fafafa;
$navbar-black: #131313;
$navbar-active-color: #fafafa;
$navbar-bg-active-color: #ff9900;
$bg-light-blue: #00c6ff;
$bg-dark-blue: #0072ff;

$color1: #ef476fff;
$color2: #ffd166ff;
$color3: #06d6a0ff;
$color4: #118ab2ff;
$color5: #073b4cff;

$color6: #540d6eff;
$color7: #ee4266ff;
$color8: #ffd23fff;
$color9: #3bceacff;
$color10: #0ead69ff;

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#main-nav {
    // background: #2193b0;
    // /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    // /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #6dd5ed, #2193b0);
    // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-color: $color10;

    a {
        color: $navbar-black;
    }

    li {
        &.active {
            background-color: $navbar-bg-active-color;

            a {
                color: $navbar-active-color;
            }
        }

        &:hover:not(.active) {
            // background-color: $color8;
            background: #396afc;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #2948ff, #396afc);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #2948ff, #396afc);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
}

#banner {
    background-color: $color9;
    min-height: 100vh;
    width: auto;
}

.jumbotron {
    margin-bottom: 0;
}

#about {
    img {
        padding-bottom: 8em;
    }
}

#cards {
    background-color: $color7;

    .row {
        flex-flow: 1;
        justify-content: space-evenly;
    }
}

#blogs {
    // background-color: ;
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#love {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $color4;

    img {
        vertical-align: top;
    }

}